@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor01: #c5ebd6;
    --cor02:#83e1ad;
    --cor3:#3ddc84;
    --cor4:#2fa866;
    --cor5:#1a5c37;
    --cor6:#063d1e;

    --font-padrao:Arial , Verdana , Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-androi:'android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor01);
    font-family: var(--font-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    font-size: 2.3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.663);
}

header > p {
   color: white;
   font-size: 1.2em;
   max-width: 600px;
   margin: auto;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.422);
}

nav{
    background-color: var(--cor6);
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.458);
    height: 30px;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav > a:hover{
   background-color: var(--cor01);
   border-radius: 5px;
   color: #506e5d;
   transition-duration: 0.5s;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor6);
    font-family: var(--font-androi);
}

main h2{
    font-family: var(--font-androi);
    font-size: 1.3em;
    color: #1a5c37;
    background-image: linear-gradient(to right, var( --cor02), transparent);
}

main p{
    text-align: justify;
    margin: 15px 0px;
}
main img{
    width: 100%;
}

main strong{
    color: #2fa866;
    font-weight: bold;
}

main a{
    text-decoration: none;
    background-color: #1a5c37;
    color: #c5ebd6;
    padding: 2px 4px;
    border-radius: 3px;
}

main a:hover{
    color: #83e1ad;
    text-decoration: underline;
}


main img.pequena{
 max-width: 350px;
 margin: auto;
 display: block;
}

div.video{
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: #c5ebd6;
    border-radius: 5px;
    padding: 5px;
}

aside > h3{
    background: #2fa866;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -7px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: #063d1e;
    color: white;
    text-align: center;
    padding: 10px;
}